@page
@model CookieClicker.Pages.PlayerRatingModel
@{
}

<h1>Top 10 Players</h1>
<div class="col-12 border p-3 mt-3">
    <table class="table table-striped border">
        <tr>
            <th></th>
            <th>Id</th>
            <th>CpS</th>
        </tr>
        @for (var i = 0; i < Model.Players.Count(); i++)
       {
           <tr>
               <td>@(i+1).</td>
               <td>@Model.Players[i].Id</td>
               <td>@Model.Players[i].Cps</td>
           </tr>
       }
    </table>
</div>
                